<h1><%= @director.name %></h1>
<p>Date of Birth: <%= @director.dob %></p>
<p>Bio: <%= @director.bio %></p>
<%= image_tag @director.image if @director.image.present? %>
<%= link_to "Back to List", directors_path %>
